[Unit]
Description=Shade Manager Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/src/loxal/shademanager.service.py > /home/pi/src/loxal/shademanager.service.log 2>&1

[Install]
WantedBy=multi-user.target