[Unit]
Description=Shade Manager Service
After=network.target

[Service]
Type=idle
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/pi/src/loxal
ExecStart=/usr/bin/python -m uvicorn /home/pi/src/loxal/main:app --reload

[Install]
WantedBy=multi-user.target